<div class='nested-fields'>

    <%= f.label :artist_id %><br>
    <%= f.collection_select(:artist_id, @artists, :id, :name, {}, {class:"form-control col-md-3"}) %>

  <%= link_to_remove_association("remover", f)%>

</div>
